@{
    ViewData["Title"] = "Strona główna";
}
<div class="text-center">
    <h1>Witaj w systemie rezerwacji hoteli!</h1>
    <p>Zaloguj się lub zarejestruj, aby móc przeglądać i rezerwować pokoje.</p>
    <p>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
    </p>
</div>
