@model HotelReservationApp2.Models.Room

<div class="container py-5">
    <h1 class="text-center mb-4">Dodaj nowy pokój</h1>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label for="RoomNumber" class="form-label">Numer pokoju</label>
            <input asp-for="RoomNumber" class="form-control" />
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Opis</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Price" class="form-label">Cena</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Capacity" class="form-label">Pojemność</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ImageUrl" class="form-label">Link do zdjęcia (URL)</label>
            <input asp-for="ImageUrl" class="form-control" placeholder="https://adres-zdjecia.com/zdjecie.jpg" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
}
