@model HotelReservationApp2.Models.Room

@{
    ViewData["Title"] = "Dodaj nowy pokój";
}

<h1>Dodaj nowy pokój</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Numer pokoju</label>
        <input asp-for="RoomNumber" class="form-control" />
        <span asp-validation-for="RoomNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Opis</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Cena</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>